<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Quản Lý Quán Coffee</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h2 th:text="|Chào mừng, ${tenKhachHang}!|" />

    <form action="/quanly" method="get">
        <label for="tenKhachHang">Nhập tên khách hàng:</label>
        <input type="text" id="tenKhachHang" name="tenKhachHang" />
        <button type="submit">Xem Thông Tin</button>
    </form>
</body>
</html>
